<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

<!--공지사항 글 보기 -->
	<select id="list" resultType="com.jardin.shop11.dto.BoardDto">
		select * from board
	</select>

<!-- 회원가입 -->
<insert id="join">
insert into member (memNo,memName,memId,memPw,email,emailReceive,
					address,phone,smsReceive,birth,solarLunar,
					business,businessNum,bussinessImage,joinDate) 
			values (member_seq.nextval,#{memName},#{memId},#{memPw},
			#{email},#{emailReceive},#{address},#{phone},#{smsReceive},
			#{birth},#{solarLunar},#{business},#{businessNum},#{bussinessImage},
			sysdate)
</insert>

<!-- 로그인 -->
<select id="loginOk" resultType="com.jardin.shop11.dto.LoginDto">
		select count(*) loginCheck from member where memId=#{memId} and memPw=#{memPw}
	</select>
	
<!-- 이벤트 글작성 -->
<insert id="eventWrite">
	insert into event values(event_seq.nextval,#{eventImage},#{title},#{content},#{startDate},#{endDate},#{thumbnail})
</insert>

<!-- 이벤트 리스트 가져오기 -->
 <select id="eventList" resultType="com.jardin.shop11.dto.EventDto">
	select * from event
 </select>
 
</mapper>